<div class="questions">
  <h1>Perguntas</h1>



  <%  user = (User.find_by_id(UsersController::USERID)) %>
  
    <% @questions.each do |question| %>
      <% question.skills.each do |s| %>
        <% if ((user.skills).include? s) %>
          <div class="question">
            <span class="image"><img src="/assets/default.jpg" /></span>
            <div class="user">
              <%= (User.find_by_id(question.user_id)).name %> fez uma pergunta
            </div>
            <div class="title"><%= link_to question.title, question %></div>
            <div class="body"><%= question.body %></div>  
            <div class="topics">
              <% (question.skills).each do |skill| %>
                <span class="skill"><%= Skill.find(skill.id).name %></span>
              <% end -%>
            </div>
          </div>
        <%break%>
        <% end %>
      <% end %>
    <% end %>

  <span class="new-question"><%= link_to 'Colocar questão', new_question_path %>
</div>
