<div class="questions">
  <h1>Perguntas</h1>
  <% @questions.each do |question| %>
    <div class="question">
      <div class="user"><%= (User.find_by_id(question.user_id)).name %></div>
      <div clas="title"><%= link_to question.title, question %></div>
      <div clas="body"><%= question.body %></div>  
      <div class="topics">
        <% (question.skills).each do |skill| %>
          <span class="topic"><%= Skill.find(skill.id).name %></span>
        <% end -%>
      </div>
    </div>
      <% end %>

  <%= link_to 'New Question', new_question_path %>
</div>
