<!--<p id="notice"><%= notice %></p>-->
<div class="question show">
  <div class="question">
    <div class="user">
      <div class="image">
        <img src="/assets/default.jpg" />
      </div>
      <div class="info">
        <div class="name"><%= (User.find_by_id(@question.user_id)).name %></div>
        <div class="institute"><%= (User.find_by_id(@question.user_id)).institute %></div>
      </div>
    </div>
    <div class="title">
      <%= @question.title %>
    </div>

    <div class="body">
      <%= @question.body %>
    </div>

    <div class="topic">
    <h3> Topicos </h3>

       <% (@question.skills).each do |skill| %>
          <span class="skill"><%= Skill.find(skill.id).name %></span>
      <% end -%>
    </div>
  </div>
  <div class="answers">
    <div class="label">Respostas</div>
    <% (@question.answers).each do |answer| %>
        <div class="answer">
          <div class="user">
            <div class="image">
              <img src="/assets/default.jpg" />
            </div>
            <div class="info">
              <span class="name"><%= (User.find_by_id(answer.user_id)).name %></span>
              <span class="institute"><%= (User.find_by_id(answer.user_id)).institute %></span>
            </div>
          </div>
        <div class="body">
          <%= answer.body %>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="post-answer">
    <div class="user">
      <div class="image">
        <img src="/assets/default.jpg" />
      </div>
      <div class="info">
        <span class="name"><%= (User.find_by_id(@question.user_id)).name %></span>
        <span class="institute"><%= (User.find_by_id(@question.user_id)).institute %></span>
      </div>
    </div>
    <%= form_for :answer, url: { action: "add_answer_to_question", :question_id=>@question.id} do |f| %>
      <div class="field">
        <%= f.text_area :body, :placeholder => "Insira a sua resposta" %>
      </div>
      <div class="field">
        <%= f.hidden_field :question_id, :value=> @question.id %>
      </div>
      <div class="field">
        <%= f.hidden_field :user_id, :value=> UsersController::USERID %>
      </div>
      <div class="actions">
        <%= f.submit :value => "Responder" %>
      </div>
    <% end %>
  </div>
   <% if (@question.user_id == UsersController::USERID) %>
    <%= link_to 'Edit', edit_question_path(@question) %> |
   <% end %>
  <%= link_to 'Back', questions_path %>
</div>