<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @publication.name %>
</p>

<p>
  <strong>Autor:</strong>
  <%= (User.find_by_id(@publication.user_id)).name %>
</p>

<p>
  <strong>Assunto:</strong>
  <%= @publication.body %>
</p>

<p>
  <strong>Ficheiro:</strong>
  		<% if @publication.document.exists? %>
            <div class="download">
            	<%= link_to "Download", @publication.document.url(:original, false) %>
            </div>
        <% else %>
            <p class="warning">Download not available.</p>
        <% end %>
</p>

<h3> Tópicos Associados</h3>

 <% (@publication.skills).each do |skill| %>
    <p>
         <%= Skill.find(skill.id).name %>
    </p>
<% end -%>

<% if (@publication.user_id == UsersController::USERID) %>
  <%= link_to 'Editar', edit_publication_path(@publication) %> |
<% end %>
<%= link_to 'Voltar', publications_path %>
