<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publication.name %>
</p>

<p>
  <strong>User:</strong>
  <%= (User.find_by_id(@publication.user_id)).name %>
</p>

<p>
  <strong>File:</strong>
  		<% if @publication.document.exists? %>
            <div class="download">
            	<%= link_to "Download", @publication.document.url(:original, false) %>
            </div>
        <% else %>
            <p class="warning">Download not available.</p>
        <% end %>
</p>

<h3> skills associadas</h3>

 <% (@publication.skills).each do |skill| %>
    <p>
         <%= Skill.find(skill.id).name %>
    </p>
<% end -%>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
