<div class="jobs">
  <h2>Trabalhos para si</h2>
  <% @jobs.each do |job| %>
    <div class="job">
      <div class="title"><%= job.title %></div>
      <div class="body"><%= job.body %></div>
      <div class="author"><%= job.author %></div>
      <%= link_to ".", job %>
      <!--<td><%= link_to 'Show', job %></td>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </div>
  <% end %>
<!--<%= link_to 'New Job', new_job_path %>-->
</div>
