<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @job.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @job.author %>
</p>

<p>
  <strong>Available:</strong>
  <%= @job.available %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user_id %>
</p>

<h3> skills </h3>

 <% (@job.skills).each do |skill| %>
    <p>
         <%= Skill.find(skill.id).name %>
    </p>
<% end -%>

<hr>
<h2> Skills para adicionar </h2>
 <% Skill.all.each do |skill| %>
   <% if !((@job.skills).include? skill) %>
    <%= form_for :skill, url: { action: "add_skill_to_job", :job_id=>@job.id, :skill_id => skill.id} do |f| %>
      <%= skill.name %>
      <%= submit_tag "Adicionar" %>
    <% end %>
  <% end %>
<%end%>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
