<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @user.profession %>
</p>

<p>
  <strong>Intituicao:</strong>
  <%= @user.institute %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %>
<h3> skills </h3>

 <% (@user.skills).each do |skill| %>
    <p>
         <%= Skill.find(skill.id).name %>
    </p>
<% end -%>
<hr>
<h2> Skills para adicionar </h2>
 <% Skill.all.each do |skill| %>
   <% if !((@user.skills).include? skill) %>
    <%= form_for :skill, url: { action: "add_skill", :user_id=>@user.id, :skill_id => skill.id} do |f| %>
      <%= skill.name %>
      <%= submit_tag "Adicionar" %>
    <% end %>
  <% end %>
<%end%>

<%= link_to 'Back', users_path %>
