<div class="user-info">
  <div class="left">
    <img src="/assets/default.jpg" />
  </div>
  <div class="right">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Nome:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Profissao:</strong>
      <%= @user.profession %>
    </p>

    <p>
      <strong>Intituicao:</strong>
      <%= @user.institute %>
    </p>
    <%= link_to 'Editar', edit_user_path(@user) %>
  </div>
</div>
<div class="skills">
  <h3> As minhas Skills </h3>

   <% (@user.skills).each do |skill| %>
      <span class="skill"><%= Skill.find(skill.id).name %></span>
  <% end -%>
</div>
<div class="skills-add">
  <h3> Skills para adicionar </h3>
   <% Skill.all.each do |skill| %>
     <% if !((@user.skills).include? skill) %>
      <%= form_for :skill, url: { action: "add_skill", :user_id=>@user.id, :skill_id => skill.id} do |f| %>
        <%= submit_tag "+ " + skill.name %>
      <% end %>
    <% end %>
  <%end%>
</div>
<div class="questions">
  <h3> Questões colocadas por mim </h3>

   <% (@user.questions).each do |question| %>
      <p>
           <%= link_to question.title, question %>
      </p>
  <% end -%>
</div>

<div class="questions">
  <h3> As minhas publicações </h3>

   <% (@user.publications).each do |publication| %>
      <p>
           <%= link_to publication.name, publication %>
      </p>
  <% end -%>
</div>



<%= link_to 'Back', users_path %>
